* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    position: relative;
    height: 100vh;
    width: 100vw;
}

#canvas {
    position: relative;
}

/* #game {
    position: relative;
    height: 100vh;
    width: 100vw;
} */